.locationList{
    background-color: green;
}

@media (max-width: 64em){
    .locationList{
        background-color: red;
        max-height: 35vh;
        overflow: auto;
        margin-bottom: 20px;
    }
}
.forecastTitle{
    color: aliceblue;
    padding: 5px;
    padding-top: 20px;
    text-align: center;
    
}